<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.admin.model.dao.AdminDao">
  <insert id="insertCouponList">
  	insert into coupon_List_tbl values (coupon_seq.nextval,#{couponName},#{couponRange},#{discountRate},#{discountAmount},#{expiredDate})
  </insert>
  
  <select id="selectCouponList" resultType="couponList">
  	SELECT COUPON_NO, coupon_name, discount_rate, discount_amount, TO_CHAR(expired_date, 'YYYY-MM-DD') AS expired_date, coupon_status
	FROM COUPON_LIST_TBL 
	JOIN COUPON_TBL USING (COUPON_NO) 
	WHERE (COUPON_RANGE = 1 OR COUPON_RANGE = 4) AND MEMBER_NO = #{memberNo} AND COUPON_STATUS=1
  </select>
  

  <select id="totalCount" resultType="int">
	  	select count(*) from member_tbl
 </select>  
 <select id="selectMemberList" resultType="member">
 	select * from
	    (select rownum as rnum, b.*from
	        (select * from member_tbl 
	        	 order by member_no desc)b)
	where rnum between #{start} and #{end}
 </select>
 <select id="selectOneMember" resultType="member">
 	select * from member_tbl where member_no=#{memberNo}
 </select>
 
 <update id="blockMember">
 	update member_tbl set member_status = 2 where member_no = #{memberNo} 
 </update>

  <update id="updateCoupon">
  	update coupon_tbl set coupon_status = 3 where coupon_no=#{couponNo}
  </update>

</mapper>
