<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.admin.model.dao.AdminDao">
  <insert id="insertCouponList">
  	insert into coupon_List_tbl values (coupon_seq.nextval,#{couponName},#{couponRange},#{discountRate},#{discountAmount},#{expiredDate})
  </insert>
  
  <select id="selectCouponList" resultType="couponList">
  	SELECT COUPON_NO, coupon_name, discount_rate, discount_amount, TO_CHAR(expired_date, 'YYYY-MM-DD') AS expired_date, coupon_status
	FROM COUPON_LIST_TBL 
	JOIN COUPON_TBL USING (COUPON_NO) 
	WHERE (COUPON_RANGE = 1 OR COUPON_RANGE = 4) AND MEMBER_NO = #{memberNo} AND COUPON_STATUS=1
  </select>
  

  <select id="totalCount" resultType="int">
	  	select count(*) from member_tbl
 </select>  
 <select id="selectMemberList" resultType="member">
 	select * from
	    (select rownum as rnum, b.*from
	        (select * from member_tbl 
	        	 order by member_no desc)b)
	where rnum between #{start} and #{end}
 </select>
 <select id="selectOneMember" resultType="member">
 	select * from member_tbl where member_no=#{memberNo}
 </select>
 
 <update id="blockMember">
 	update member_tbl set member_status = 2 where member_no = #{memberNo} 
 </update>

  <update id="updateCoupon">
  	update coupon_tbl set coupon_status = 3 where coupon_no=#{couponNo}
  </update>
  
  <select id="totalPartnerCount" resultType="int">
	  	select count(*) from partner_tbl
 </select>  
 <select id="selectPartnerList" resultType="partner">
 	select * from
	    (select rownum as rnum, b.*from
	        (select * from partner_tbl 
	        	 order by partner_no desc)b)
	where rnum between #{start} and #{end}
 </select>
 
 <select id="selectMyCouponList" resultType="couponList">
 	select * from
 	(select rownum rnum, c.* from (select coupon_no, case when coupon_status=1 then '사용가능' when coupon_status=2 then '사용불가' when coupon_status=3 then '사용완료' end coupon_status_str, issue_date,
	coupon_name, case when coupon_range=1 then '숙소' when coupon_range=2 then '투어' when coupon_range=3 then '프로모션' when coupon_range=4 then '종합' end coupon_range_str, discount_rate, discount_amount, to_char(expired_date, 'yyyy-mm-dd') expired_date
	from coupon_tbl join coupon_list_tbl using(coupon_no)
	where member_no in (select member_no from member_tbl where member_email=#{memberEmail}) 
	<if test="couponRange != 0">
		and coupon_range in #{couponRange}
	</if>
	order by coupon_status, expired_date)c) where rnum between #{start} and #{end}
 </select>
 
 

</mapper>
