<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.blog.model.dao.BlogDao">
  <insert id="insertBoard">
  	insert into blog values
  	(blog_seq.nextval,#{memberNickname},#{blogTitle},sysdate,#{blogThumbnail})
  </insert>
  <insert id="insertBlogDate">
  	insert into blog_date values(blog_date_seq.nextval,#{blogNo},#{blogDateDay},#{blogDateSchedulTitle},#{blogDateScheduleContent})
  </insert>
  
  <select id="getMemberNickName" resultType="String">
  	select member_nickname from member_tbl where member_email=#{memberEmail}
  </select>
</mapper>
