<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.coupon.model.dao.CouponDao">
	<select id="getCouponList" resultType="couponList">
		SELECT * FROM COUPON_LIST_TBL JOIN COUPON_TBL USING(COUPON_NO) WHERE COUPON_RANGE=1 AND MEMBER_NO=#{memberNo}
	</select>
</mapper>
