<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.inn.model.dao.InnDao">
	<select id="selectRoomOption" resultType="option">
		select * from option_tbl
	</select>
	
	<insert id="insertInn">
		insert into inn_tbl values
			(inn_seq.nextval,
			#{partnerNo},
			#{innType},
			#{innAddr},
			#{innInfo},
			#{innCheckInTime},
			#{innCheckOutTime},
			#{innIntro})
			<selectKey resultType="int" keyProperty="innNo" order="AFTER">
				select max(inn_no) from inn_tbl
			</selectKey>
	</insert>

	<insert id="insertInnFile">
		insert into inn_file_tbl values(inn_file_seq.nextval,#{innNo},null,#{innFilePath})
	</insert>
	
	<select id="getInnNo" resultType="int">
		select inn_no from inn_tbl where partner_no=#{partnerNo}
	</select>
	
	<insert id="insertRoom">
		insert into room_tbl values
		(room_seq.nextval,
		#{innNo},
		#{roomName},
		#{roomMaxPeople},
		#{roomPrice},
		#{etcOption},
		#{roomMinPeople})
		<selectKey resultType="int" keyProperty="roomNo" order="AFTER">
			select max(room_no) from room_tbl
		</selectKey>
	</insert>
	
	<insert id="insertRoomFile">
		insert into inn_file_tbl values(inn_file_seq.nextval,#{innNo},#{roomNo},#{innFilePath})
	</insert>
	
	<insert id="insertRoomOption">
		insert into room_option_tbl values(#{roomNo},#{optionNo})
	</insert>
	
	<insert id="insertRoomHashTag">
		insert into room_hashtag_tbl values(#{roomNo},#{hashTag})
	</insert>
	
	
	<select id="selectInnDetail" resultType="inn">
		select * from inn_tbl where inn_no=#{innNo}		
	</select>
	<select id="selectRoomDetail" resultType="room">
		select 
		    inn_no, 
		    room_no,
		    room_name,
		    room_max_people,
		    room_price,
		    etc_option,
		    room_min_people,
		    inn_check_in_time,
		    inn_check_out_time 
		from room_tbl r 
		join inn_tbl using(inn_no) 
		where inn_no=#{innNo}
	</select>	
	<select id="selectInnFileDetail" resultType="innFile">
		select * from inn_file_tbl where inn_no=#{innNo} and room_no is null	
	</select>
	<select id="selectInnFileRoom" resultType="innFile">
		select * from inn_file_tbl where inn_no=#{innNo} and room_no is not null	
	</select>
	<select id="selectHashTag" resultType="roomHashTag">
		select * from room_hashtag_tbl where room_no=#{roomNo}		
	</select>
	<select id="selectOption" resultType="option">
		SELECT
			o.option_no,
		    o.option_name
		FROM
		    room_tbl r
		JOIN
		    room_option_tbl ro ON r.room_no = ro.room_no
		JOIN
		    option_tbl o ON ro.option_no = o.option_no
		WHERE
		    r.inn_no = #{innNo}
		    AND r.room_no = #{roomNo}
	</select>
	<select id="searchMember" resultType="int">
	 SELECT MEMBER_No
	    FROM MEMBER_TBL
	    WHERE MEMBER_EMAIL = #{memberEmail}</select>
	<insert id="insertInnReview" parameterType="review">
	 INSERT INTO REVIEW_TBL (REVIEW_NO, MEMBER_NO, REVIEW_TYPE, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_STAR, REF_NO, REVIEW_DATE)
	    VALUES (REVIEW_SEQ.nextval, #{memberNo}, 1, #{reviewTitle}, #{reviewContent}, #{reviewStar}, #{innNo}, sysdate)
	</insert> 
	<select id="selectInnReviewList" resultType="review">
		SELECT review_no,member_nickname,review_title,review_content,review_star,ref_no,to_char(review_date, 'yyyy-mm-dd')as review_date
		FROM review_tbl
		join member_tbl using(member_no)
		WHERE ref_no = #{innNo} ORDER BY 1 DESC
	</select>
	<select id="selectInnMyReview" resultType="review">
		select review_no,member_nickname,review_title,review_content,ref_no,to_char(review_date, 'yyyy-mm-dd')as review_date 
		from review_tbl 
		join member_tbl using(member_no)
		where member_no=#{memberNo} 
	</select>

	   
	<insert id="reservationInn">
		insert into inn_book_tbl values
		(inn_book_seq.nextval, 
		#{memberNo}, 
		#{roomNo},
		#{guestName},
		#{guestPhone},
		#{guestWish},
		#{checkInDate},
		#{checkOutDate},
		sysdate,
		1,
		#{bookGuest})
	</insert>
	
	<select id="selectBookInnsList" resultType="innReservation">
		select * from (select rownum rnum, ibt.* from
			(select inn_book_no,
			    (select partner_name from partner_tbl where partner_no in
			        (select partner_no from inn_tbl where inn_no in
			            (select inn_no from room_tbl where room_no = ib.room_no))) partner_name,
			            (select inn_filepath from inn_file_tbl where room_no = ib.room_no and rownum = 1) inn_filepath,
			            (select room_name from room_tbl where room_no = ib.room_no) room_name, book_status,
			            check_in_date, check_out_date,
			            to_char(to_date(check_in_date), 'mm.dd(dy) ')||(select inn_check_in_time from inn_tbl where inn_no in(select inn_no from room_tbl where room_no=ib.room_no)) check_in_date_str,
			            to_char(to_date(check_out_date), 'mm.dd(dy) ')||(select inn_check_out_time from inn_tbl where inn_no in(select inn_no from room_tbl where room_no=ib.room_no)) check_out_date_str,
			            (to_date(check_out_date)-to_date(check_in_date)) night,
			            book_guest, guest_name, guest_phone, to_char(book_date, 'yyyy-mm-dd') book_date, guest_wish
			        from inn_book_tbl ib
			    where member_no in
			(select member_no from member_tbl where member_email=#{memberEmail}) order by check_in_date, inn_book_no desc)ibt) where rnum between #{start} and #{end}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from inn_tbl inn 
		WHERE 
		INN_ADDR LIKE '%'||#{innAddr}||'%' 
		AND 
		    (SELECT COUNT(room_max_people) 
		    FROM room_tbl r 
		    WHERE room_max_people >= 2 
		    AND r.inn_no=inn.inn_no) >= 1
		    
		AND
		    CHECK_BOOKING(inn.inn_no,#{checkInDate},#{checkOutDate}) = 0
		    
		<if test="innType != 0">
			AND INN_TYPE=#{innType}
		</if>
		<if test="minPrice != 0 and maxPrice != 500000">
			AND 
		    (SELECT min(room_price) 
		    FROM room_tbl r 
		    WHERE r.inn_no=inn.inn_no) 
		    BETWEEN #{minPrice} AND #{maxPrice}
		</if>
		<if test="hashTag != null">
			<foreach collection="hashTag" item="hashTagItem">
				AND 
				    (SELECT COUNT (hashtag) 
				    FROM ROOM_HASHTAG_TBL rt 
				    WHERE room_no in 
				            (SELECT room_no 
				            FROM room_tbl r 
				            WHERE r.inn_no =inn.inn_no 
				            AND rt.room_no=room_no) 
				    AND hashtag like #{hashTagItem}) > 0 
			</foreach>
		</if>
		<if test="option != null">
			<foreach collection="option" item="optionItem">
				AND 
				    (SELECT COUNT(option_no) 
				    FROM ROOM_OPTION_TBL ro 
				    WHERE room_no in 
				            (SELECT room_no 
				            FROM room_tbl r 
				            WHERE r.inn_no = inn.inn_no 
				            AND ro.room_no = room_no)
				    AND option_no = #{optionItem}) > 0
			</foreach>
		</if>
	</select>
	
	<select id="selectInnList" resultType="selectInnList">
	select * from
		(select rownum as rnum, i.* from
			(SELECT 
			    inn.inn_no,
			    inn.inn_addr,
			    inn.inn_type,
			    (SELECT inn_filepath 
			     FROM inn_file_tbl innfile 
			     WHERE inn.inn_no = innfile.inn_no 
			     AND ROWNUM = 1) as file_path,
			     (SELECT min(room_price) 
			     FROM room_tbl r 
			     WHERE r.inn_no=inn.inn_no) room_price,    
			     (SELECT partner_name 
			     FROM partner_tbl p 
			     WHERE inn.partner_no = p.partner_no) partner_name,
			     (SELECT COUNT(*) 
			     FROM like_tbl 
			     WHERE like_type=1 
			     AND ref_no = inn.inn_no) like_count,
			     (SELECT avg(review_star) 
		          FROM review_tbl 
		          WHERE review_type=1 
		          AND ref_no = inn.inn_no) review_star,
			     (SELECT COUNT(*) 
			     FROM review_tbl 
			     WHERE review_type=1 
			     AND ref_no = inn.inn_no) review_count
			FROM inn_tbl inn
			WHERE 
			INN_ADDR LIKE '%'||#{innAddr}||'%' 
			AND 
			    (SELECT COUNT(room_max_people) 
			    FROM room_tbl r 
			    WHERE room_max_people >= #{bookGuest} 
			    AND r.inn_no=inn.inn_no) >= 1
			    
			AND
			    CHECK_BOOKING(inn.inn_no,#{checkInDate},#{checkOutDate}) = 0
			    
			<if test="innType != 0">
				AND INN_TYPE=#{innType}
			</if>
			
			<if test="hashTag != null">
				<foreach collection="hashTag" item="hashTagItem">
					AND 
					    (SELECT COUNT (hashtag) 
					    FROM ROOM_HASHTAG_TBL rt 
					    WHERE room_no in 
					            (SELECT room_no 
					            FROM room_tbl r 
					            WHERE r.inn_no =inn.inn_no 
					            AND rt.room_no=room_no) 
					    AND hashtag like #{hashTagItem}) > 0 
				</foreach>
			</if>
			<if test="option != null">
				<foreach collection="option" item="optionItem">
					AND 
					    (SELECT COUNT(option_no) 
					    FROM ROOM_OPTION_TBL ro 
					    WHERE room_no in 
					            (SELECT room_no 
					            FROM room_tbl r 
					            WHERE r.inn_no = inn.inn_no 
					            AND ro.room_no = room_no)
					    AND option_no = #{optionItem}) > 0
				</foreach>
			</if>
			<if test="selectSort == 'review'">
				order by (select count(*) from review_tbl where ref_no = inn.inn_no) desc
			</if>
			<if test="selectSort == 'star'">
				order by (select avg(review_star) from review_tbl where ref_no = inn_no) desc
			</if>
			<if test="selectSort == 'low-price'">
				order by (SELECT min(room_price) FROM room_tbl r WHERE r.inn_no=inn.inn_no) asc
			</if>
			<if test="selectSort == 'high-price'">
				order by (SELECT max(room_price) FROM room_tbl) desc
			</if>
		)i
		<if test="minPrice != '0' and maxPrice != '500000'">
				where 
			    to_number((SELECT min(room_price) 
			    FROM room_tbl r 
			    WHERE r.inn_no=i.inn_no)) 
			    BETWEEN #{minPrice} and #{maxPrice}
			</if>
		)
	where rnum between #{start}and #{end}
	</select>
	
	<insert id="likeUpdate">
		insert into like_tbl values(like_seq.nextval,#{memberNo},1,#{innNo})
	</insert>
	
	

	<select id="selectMainInnList" resultType="inn">
		select * from
		(select rownum rnum, rr.* from 
		(select inn_no, inn_type,
		(select partner_name from partner_tbl where partner_no=inn.partner_no) partner_name,
		nvl((select avg(review_star) from review_tbl where review_type=1 and ref_no=inn_no),0) review_rate,
		(select inn_filepath from inn_file_tbl innfile where inn.inn_no = innfile.inn_no and rownum=1) as filepath
		from inn_tbl inn where inn_no in (select inn_no from review_tbl r where review_type=1)
		order by review_rate desc, inn_no desc)rr) where rnum between 1 and 16
	</select>

	<select id="selectLikeInnList" resultType="likeInnList">
		select 
		    inn_no, 
		    partner_no,
		    inn_type,
		    inn_addr,
		    inn_check_in_time,
		    inn_check_out_time,
		    (select partner_name from partner_tbl where inn.partner_no = partner_no) partner_name,
		    (select min(room_price) from room_tbl where inn.inn_no = inn_no) min_room_price,
		    (SELECT inn_filepath  FROM inn_file_tbl innfile  WHERE inn.inn_no = innfile.inn_no  AND ROWNUM = 1) as file_path
		from inn_tbl inn 
		where inn_no in (select ref_no from like_tbl where member_no = #{memberNo})
	</select>
	
	<delete id="cancelInnLike">
		delete from like_tbl where member_no = #{memberNo} AND ref_no = #{innNo}
	</delete>
</mapper>
