<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.promotion.model.dao.PromotionDao">
	<select id="totalCount" resultType="int">
		select count(*) from promotion_tbl 
	</select>
 	<select id="selectPromotionList" resultType="promotion">
 	select * from
	    (select rownum as rnum, b.*from
	        (select 
	        	promotion_no,
	        	partner_no,
	        	promotion_name,
	        	promotion_img,
	        	promotion_price,
	        	promotion_intro,
	        	promotion_region,
	        	promotion_limit,
	        	to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate
	        	from promotion_tbl 
	        	 order by promotion_no desc)b)
	where rnum between #{start} and #{end}
 	</select>
 	<select id="selectPromotionListRegion" resultType="promotion">
 	select * from
	    (select rownum as rnum, b.*from
	        (select 
	        	promotion_no,
	        	partner_no,
	        	promotion_name,
	        	promotion_img,
	        	promotion_price,
	        	promotion_intro,
	        	promotion_region,
	        	promotion_limit,
	        	to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate
	        from promotion_tbl 
	        	 order by promotion_region desc)b)
	where rnum between #{start} and #{end}
 	</select>
 	<select id="selectPromotionListPrice" resultType="promotion">
 	select * from
	    (select rownum as rnum, b.*from
	        (select 
	        	promotion_no,
	        	partner_no,
	        	promotion_name,
	        	promotion_img,
	        	promotion_price,
	        	promotion_intro,
	        	promotion_region,
	        	promotion_limit,
	        	to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate
	        from promotion_tbl 
	        	 order by promotion_price asc)b)
	where rnum between #{start} and #{end}
 	</select>
 	<select id="selectPromotionListDeadline" resultType="promotion">
 	select * from
	    (select rownum as rnum, b.*from
	        (select 
	        	promotion_no,
	        	partner_no,
	        	promotion_name,
	        	promotion_img,
	        	promotion_price,
	        	promotion_intro,
	        	promotion_region,
	        	promotion_limit,
	        	to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate
	         from promotion_tbl 
	        	 order by promotion_expired_date asc)b)
	where rnum between #{start} and #{end}
 	</select>
 	
 	<select id="totalSearchCount" resultType="int">
		select count(*) from promotion_tbl where promotion_name like '%'||#{keyword}||'%'
	</select>
 	
 	<select id="selectPromotionListSearch" resultType="promotion">
 	select * from 
	    (select rownum as rnum, b.*from
	        (select 
	        	promotion_no,
	        	partner_no,
	        	promotion_name,
	        	promotion_img,
	        	promotion_price,
	        	promotion_intro,
	        	promotion_region,
	        	promotion_limit,
	        	to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate 
	        from promotion_tbl where promotion_name like '%'||#{keyword}||'%'
	        	 order by promotion_no desc)b)
	where rnum between #{start} and #{end}
 	</select>
 	
 	<select id="selectOnePromotion" resultType="promotion">
 		select 
 			promotion_no,
 			promotion_tbl.partner_no,
 			promotion_name,
 			promotion_intro,
 			promotion_price,
 			promotion_region,
 			promotion_limit,
 			promotion_img,
 			to_char(promotion_expired_date,'YYYY-MM-DD') as promotionExpiredDate,
 			partner_name,
 			partner_tel
 			from promotion_tbl join partner_tbl 
 			on promotion_tbl.partner_no = partner_tbl.partner_no 
 			where promotion_no = #{promotionNo}
 	</select>
 	
 	<select id="selectBookPromotionList" resultType="promotion">
 		select * from
		(select rownum rnum, pt.* from (select order_no, promotion_no, promotion_name, promotion_img, promotion_price, promotion_intro, promotion_region, to_char(promotion_expired_date, 'yyyy-mm-dd') promotion_expired_date,
		(select
		    case
		        when partner_type=1
		        then '숙소'
		        when partner_type=2
		        then '투어'
		    end
		from partner_tbl where partner_no = p.partner_no) promotion_type
		from promotion_order_tbl join promotion_tbl p using(promotion_no) where member_no in (select member_no from member_tbl where member_email=#{memberEmail}) order by promotion_expired_date, order_no desc)pt)
		where rnum between #{start} and #{end}
 	</select>
 	
 	<select id="checkRemainingSeat" resultType="int">
 		SELECT (promotion_limit - (
        SELECT COALESCE(SUM(promotion_participants), 0) 
		FROM promotion_order_tbl 
		WHERE promotion_no = #{promotionNo}
    )) 
    FROM promotion_tbl 
    WHERE promotion_no = #{promotionNo}
 	</select>
 	
 	<insert id="purchasePromotion">
 		insert into promotion_order_tbl values (promotion_order_seq.nextval,#{memberNo},#{promotionNo},#{seat})
 	</insert>
 	
 	<select id="selectMainPromotionList" resultType="promotion">
 		select * from (select rownum rnum, p.* from (select * from promotion_tbl where promotion_expired_date <![CDATA[>=]]> sysdate order by promotion_no desc)p) where rnum between 1 and 8 
 	</select>

 	<insert id="applyPromotion">
 		insert into promotion_tbl values (promotion_seq.nextval,#{partnerNo},#{promotionName},#{promotionImg},#{promotionPrice},#{promotionIntro},#{promotionRegion},#{promotionLimit},#{promotionExpiredDate})
 	</insert>
 	
 	<insert id="applyPromotionFile">
 		insert into promotion_file_tbl values (promotion_file_seq.nextval,promotion_seq.currval,#{proFilePath},#{proFileName})
 	</insert>
 	

</mapper>
