<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.tour.model.dao.TourDao">
	<select id="searchPartner" resultType="int">
		select partner_no
		from partner_tbl
		where member_no=
			(select member_no from member_tbl where member_email=#{memberEmail})
	</select>
  	<insert id="insertTour">
		insert into tour_tbl values
		(tour_seq.nextval,#{partnerNo},#{tourName},#{tourType},#{tourAddr},#{tourImg},#{tourIntro},#{salesCount},#{salesPeriod},2)
		<selectKey resultType="int" keyProperty="tourNo" order="AFTER">
			select max(tour_no) from tour_tbl
		</selectKey>
	</insert>
	<select id="totalCount" resultType="int">
		select count(*) from tour_tbl
		JOIN PARTNER_TBL ON TOUR_TBL.PARTNER_NO = PARTNER_TBL.PARTNER_NO
		WHERE PARTNER_TBL.MEMBER_NO = #{memberNo}
	</select>
	<select id="selectTourSale" resultType="tour">
		select * from
		    (select rownum as rnum, t.* from
		        (select
		            tour_no,
		            tour_name,
		            tour_img,
		            sales_count,
		            sales_status,
		            to_char(sales_period,'yyyy-mm-dd') as sales_period
		        from tour_tbl
		        JOIN PARTNER_TBL ON TOUR_TBL.PARTNER_NO = PARTNER_TBL.PARTNER_NO
		        WHERE PARTNER_TBL.MEMBER_NO = #{memberNo}
		        ORDER BY tour_no DESC) t)
		where rnum between #{start} and #{end}
	</select>
	<update id="updateStatus">
		update tour_tbl set sales_status = #{updateStatus} where tour_no = #{tourNo}
	</update>
	<delete id="deleteTour">
		delete from tour_tbl where tour_no = #{tourNo}
	</delete>
	<select id="selectOneTour" resultType="tour">
		select
			tour_no,
			tour_name,
			tour_type,
			tour_addr,
			tour_img,
			tour_intro,
			sales_count,
			to_char(sales_period,'yyyy-mm-dd') as sales_period,
			sales_status
		from tour_tbl where tour_no = #{tourNo}
	</select>
	<update id="updateTour">
		update tour_tbl set
			tour_name = #{tourName},
			tour_type = #{tourType},
			tour_addr = #{tourAddr},
			tour_img = #{tourImg},
			tour_intro = #{tourIntro},
			sales_count = #{salesCount},
			sales_period = #{salesPeriod}
		where tour_no = #{tourNo}
	</update>
	<select id="getLastInsertTourNo" resultType="int">
		SELECT MAX(TOUR_NO) AS LAST_INSERTED_TOUR_NO FROM TOUR_TBL
	</select>
	<select id="selectTourTicket" resultType="tourTicket">
		SELECT tour_no, ticket_adult, ticket_youth, ticket_child FROM TOUR_TICKET_TBL WHERE TOUR_NO = #{tourNo}
	</select>
	<update id="modifyTourTicket">
		update tour_ticket_tbl set
			ticket_adult = #{ticketAdult},
			ticket_youth = #{ticketYouth},
			ticket_child = #{ticketChild}
		where tour_no = #{tourNo}
	</update>
	<insert id="tempTourTicket">
		insert into tour_ticket_tbl values
		(#{tourNo}, 0, 0, 0)
	</insert>
	<select id="searchTourNo" parameterType="map" resultType="int">
	    SELECT TOUR_NO
	    FROM TOUR_TBL
	    WHERE TOUR_NO = #{tourNo} AND PARTNER_NO = (
	        SELECT PARTNER_NO
	        FROM MEMBER_TBL
	        WHERE MEMBER_EMAIL = #{memberEmail}
	    )
	</select>
	<select id="checkPartnerNo" resultType="int" parameterType="int">
	    SELECT PARTNER_NO
	    FROM TOUR_TBL
	    WHERE TOUR_NO = #{tourNo}
	</select>
	<select id="selectTourList" resultType="tour">
		SELECT * FROM tour_tbl WHERE sales_status = 1 AND sales_period >= SYSDATE ORDER BY 1 DESC
	</select>
	<select id="selectTicketList" resultType="tourTicket">
		SELECT * FROM TOUR_TICKET_TBL 
	    WHERE TOUR_NO IN (SELECT tour_no FROM tour_tbl WHERE sales_status = 1 AND sales_period >= SYSDATE) 
	    ORDER BY 1 DESC
	</select>
	<select id="searchTour" resultType="tour">
	    SELECT *
	    FROM TOUR_TBL
	    WHERE (TOUR_NAME LIKE '%' || #{searchText} || '%' OR TOUR_ADDR LIKE '%' || #{searchText} || '%')
	    AND SALES_PERIOD >= #{startDate}
	    AND SALES_STATUS = 1
	    ORDER BY 1 DESC
	</select>
	<select id="searchTicket" resultType="tourTicket">
	    SELECT * FROM TOUR_TICKET_TBL
	    WHERE TOUR_NO IN (
	        SELECT TOUR_NO
	        FROM TOUR_TBL
	        WHERE (TOUR_NAME LIKE '%' || #{searchText} || '%' OR TOUR_ADDR LIKE '%' || #{searchText} || '%')
	        AND SALES_PERIOD >= #{startDate}
	        AND SALES_STATUS = 1
	    )
	    ORDER BY 1 DESC
	</select>
	<select id="searchType" resultType="tour">
		SELECT *
	    FROM TOUR_TBL
	    WHERE TOUR_TYPE = #{tourType}
	    AND SALES_PERIOD >= SYSDATE
	    AND SALES_STATUS = 1
	    ORDER BY 1 DESC
	</select>
	<select id="searchTypeTicket" resultType="tourTicket">
		SELECT *
	    FROM TOUR_TICKET_TBL
	    WHERE TOUR_NO IN (
	        SELECT TOUR_NO
	        FROM TOUR_TBL
	        WHERE TOUR_TYPE = #{tourType}
	        AND SALES_PERIOD >= SYSDATE
	        AND SALES_STATUS = 1
	    )
	    ORDER BY 1 DESC
	</select>
	<select id="viewTourDetail" resultType="tour">
		SELECT * FROM TOUR_TBL WHERE TOUR_NO = #{tourNo}
	</select>
	<select id="viewTicket" resultType="tourTicket">
		SELECT * FROM TOUR_TICKET_TBL WHERE TOUR_NO = #{tourNo}
	</select>
	<select id="selectPartner" resultType="partner">
	    SELECT P.*, M.MEMBER_EMAIL
	    FROM PARTNER_TBL P
	    JOIN MEMBER_TBL M ON P.MEMBER_NO = M.MEMBER_NO
	    JOIN TOUR_TBL T ON P.PARTNER_NO = T.PARTNER_NO
	    WHERE T.TOUR_NO = #{tourNo}
	</select>
	<select id="selectBookTourList" resultType="tourBook">
		select * from
			(select rownum rnum, tbt.* from
			(select tour_book_no, book_guest, book_fee, book_date,
			    case
			        when book_status=1
			        then '예약확정'
			        when book_status=2
			        then '예약취소'
			    end book_status_str,
			    (select tour_name from tour_tbl where tour_no=tb.tour_no) tour_name, (select tour_img from tour_tbl where tour_no=tb.tour_no) tour_img,
			    (select member_name from member_tbl where member_no=tb.member_no) member_name,
			    (
			        select
			            case
			                when tour_type=1
			                then '전시관'
			                when tour_type=2
			                then '레저'
			                when tour_type=3
			                then '테마파크'
			                when tour_type=4
			                then '박람회'
			                when tour_type=5
			                then '입장권'
			            end
			        from tour_tbl where tour_no=tb.tour_no
			    ) tour_type_str
			from tour_book_tbl tb where member_no in (select member_no from member_tbl where member_email=#{memberEmail}) order by tour_book_no desc)tbt)
			where rnum between #{start} and #{end}
	</select>
</mapper>
