<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.tour.model.dao.TourDao">
	<select id="searchPartner" resultType="int">
		select partner_no
		from partner_tbl
		where member_no=
			(select member_no from member_tbl where member_email=#{memberEmail})
	</select>
  	<insert id="insertTour">
		insert into tour_tbl values
		(tour_seq.nextval,#{partnerNo},#{tourName},#{tourType},#{tourAddr},#{tourImg},#{tourIntro},#{salesCount},#{salesPeriod},2)
	</insert>
</mapper>
