<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.iei.trip.model.dao.TripDao">
	<insert id="insertTrip">
		insert into trip_tbl values(trip_seq.nextval, #{memberNo}, #{tripTitle}, #{tripStartDate}, #{tripEndDate})
		<selectKey resultType="int" keyProperty="tripNo" order="AFTER">
			select max(trip_no) from trip_tbl
		</selectKey>
	</insert>

	<insert id="insertTripDetail">
		insert into trip_detail_tbl values(trip_detail_seq.nextval, #{tripNo}, #{tripDay}, #{tripCost})
		<selectKey resultType="int" keyProperty="tripDetailNo" order="AFTER">
			select max(trip_detail_no) from trip_detail_tbl
		</selectKey>
	</insert>

	<insert id="insertTripPlace">
		insert into trip_place_tbl values(#{tripDetailNo}, #{tripRoute},
		#{tripPlaceName}, #{tripPlaceCategory}, #{tripPlaceAddress},
		#{tripPlacePhone}, #{tripPlaceLat}, #{tripPlaceLng}, #{tripTodo})
	</insert>

	<select id="selectMyComingTripList" resultType="trip">
		select * from (select rownum rnum, t.* from (select trip_no, member_no, trip_title, to_char(trip_start_date,'YYYY-MM-DD') trip_start_date, to_char(trip_end_date,'YYYY-MM-DD') trip_end_date,
		(select trip_place_name from trip_place_tbl where trip_detail_no in (select trip_detail_no from trip_detail_tbl where trip_no=t.trip_no) and rownum = 1) trip_place_name,
		(select count(*) from trip_place_tbl where trip_detail_no in (select trip_detail_no from trip_detail_tbl where trip_no=t.trip_no)) trip_place_count
		from trip_tbl t where member_no in(select member_no from member_tbl where member_email=#{memberEmail})
		and trip_end_date <![CDATA[ > ]]> to_char(sysdate, 'yyyy-mm-dd')
		order by trip_start_date desc)t) where rnum between #{start} and #{end}
	</select>
	
	<select id="selectMyPastTripList" resultType="trip">
		select * from (select rownum rnum, t.* from (select trip_no, member_no, trip_title, to_char(trip_start_date,'YYYY-MM-DD') trip_start_date, to_char(trip_end_date,'YYYY-MM-DD') trip_end_date,
		(select trip_place_name from trip_place_tbl where trip_detail_no in (select trip_detail_no from trip_detail_tbl where trip_no=t.trip_no) and rownum = 1) trip_place_name,
		(select count(*) from trip_place_tbl where trip_detail_no in (select trip_detail_no from trip_detail_tbl where trip_no=t.trip_no)) trip_place_count
		from trip_tbl t where member_no in(select member_no from member_tbl where member_email=#{memberEmail})
		and trip_end_date <![CDATA[ < ]]> to_char(sysdate, 'yyyy-mm-dd')
		order by trip_start_date desc)t) where rnum between #{start} and #{end}
	</select>

	<select id="selectOneTrip" resultMap="getTrip">
		select trip_no, member_no, trip_title, to_char(trip_start_date,'YYYY-MM-DD')
		trip_start_date, to_char(trip_end_date,'YYYY-MM-DD') trip_end_date
		from trip_tbl where trip_no=#{tripNo}
	</select>

	<select id="selectOneTripDetailList" resultMap="getTripDetailList">
		select trip_detail_no, trip_no, to_char(trip_day, 'YYYY-MM-DD') trip_day, trip_cost from trip_detail_tbl where trip_no=#{tripNo} order by trip_day
	</select>

	<select id="selectOneTripPlaceList" resultType="tripPlace">
		select * from trip_place_tbl where trip_detail_no=#{tripDetailNo} order by trip_route
	</select>

	<resultMap type="trip" id="getTrip">
		<result column="trip_no" property="tripNo" />
		<result column="member_no" property="memberNo" />
		<result column="trip_title" property="tripTitle" />
		<result column="trip_start_date" property="tripStartDate" />
		<result column="trip_end_date" property="tripEndDate" />
		<collection property="tripDetailList"
			select="selectOneTripDetailList" column="trip_no"
			javaType="java.util.List" ofType="tripDetail">
		</collection>
	</resultMap>

	<resultMap type="tripDetail" id="getTripDetailList">
		<result column="trip_detail_no" property="tripDetailNo" />
		<result column="trip_no" property="tripNo" />
		<result column="trip_day" property="tripDay" />
		<result column="trip_cost" property="tripCost" />
		<collection property="selectPlaceList"
			select="selectOneTripPlaceList" column="trip_detail_no"
			javaType="java.util.List" ofType="tripPlace">
		</collection>
	</resultMap>

	<update id="updateTrip">
		update trip_tbl
		<trim prefix="set" prefixOverrides=",">
			<if test="tripTitle != null">
				trip_title=#{tripTitle}
			</if>
			<if test="tripStartDate != null">
				, trip_start_date=#{tripStartDate}
			</if>
			<if test="tripEndDate != null">
				, trip_end_date=#{tripEndDate}
			</if>
		</trim>
		where trip_no=#{tripNo}
	</update>

	<update id="updateTripDetail">
		update trip_detail_tbl set trip_day=#{tripDay}, trip_cost=#{tripCost} where trip_detail_no=#{tripDetailNo}
	</update>

	<delete id="deleteTripPlace">
		delete from trip_place_tbl where trip_detail_no=#{tripDetailNo} and trip_route=#{oldTripRoute}
	</delete>

	<select id="checkTdList" resultType="tripDetail">
		select * from trip_detail_tbl where trip_no=#{tripNo}
	</select>
	
	<select id="selectTripDetailNo" resultType="String">
		select trip_detail_no from trip_detail_tbl where trip_no=#{tripNo} and trip_day=#{tripDay}
	</select>
	
	<update id="updateTripPlace1">
		update trip_place_tbl set trip_detail_no=#{tripDetailNo}, trip_todo=#{tripTodo}
		where trip_route=#{tripRoute} and trip_detail_no=#{tripDetailNo}
	</update>
	
	<update id="updateTripPlace2">
		update trip_place_tbl set trip_detail_no=#{tripDetailNo}, trip_route=#{tripRoute}, trip_todo=#{tripTodo}
		where trip_detail_no in (select trip_detail_no from trip_detail_tbl where trip_day=#{oldTripDay} and trip_no=#{tripNo}) and trip_route=#{oldTripRoute}
	</update>
	
	<delete id="deleteTripDetail">
		delete from trip_detail_tbl where trip_day=#{oldTripDay} and trip_detail_no=#{tripDetailNo}
	</delete>
	
	<delete id="deleteTripDay">
		delete trip_detail_tbl td where trip_day <![CDATA[ > ]]> (select trip_end_date from trip_tbl where trip_no=td.trip_no) and trip_no=#{tripNo}
	</delete>
	
	<update id="updateTripRoute">
		update trip_place_tbl set trip_route=#{tripRoute} where trip_route=#{oldTripRoute} and trip_detail_no=#{tripDetailNo}
	</update>
	
</mapper>





