/* font
@font-face {
  font-family: pt-l;
  src: url(/public/font/Pretendard-Light.ttf);
}
@font-face {
  font-family: pt-r;
  src: url(/public/font/Pretendard-Regular.ttf);
}
@font-face {
  font-family: pt-b;
  src: url(/public/font/Pretendard-Bold.ttf);
}
@font-face {
  font-family: pt-eb;
  src: url(/public/font/Pretendard-ExtraBold.ttf);
}

 */
.blogFrm {
  width: 800px;
  border-left: 1px solid var(--gray_04);
  border-right: 1px solid var(--gray_04);
  box-sizing: border-box;
  padding: 70px;
}
.blog-thumbnail {
  text-align: center;
}
.blog-thumbnail > img {
  width: 450px;
  height: 250px;
  border-radius: 10px;
}
.blog-thumbnail-wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.blog-thumbnail-wrap label {
  margin-right: 10px;
}
.blog-thumbnail-wrap input {
  background-color: #c1c1c1;
  border-radius: 5px;
}
.blog-list-title-wrap {
  margin-left: 10px;
  overflow: hidden;
}
.blog-list-title-wrap > div {
  margin-bottom: 10px;
}
.blog-list-title-one {
  margin-right: 10px;
  float: left;
  color: var(--main_01);
  font-weight: 900;
  font-size: 150%;
  font-family: pt-eb;
}
.blog-list-title-two {
  color: var(--main_02);
  font-size: 150%;
  font-weight: 900;
  font-family: pt-eb;
}
.blog-list-title-three {
  display: flex;
  justify-content: space-between;
}
.blog-list-title-three > p {
  color: #c1c1c1;
  line-height: 40px;
  font-family: pt-b;
}
.blog-list-wrap {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
.blog-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 70px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}
.blog-item:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #c1c1c1;
}
.blog-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
blog-list-box {
  overflow: hidden;
  padding: 10px;
}
.blog-item-info {
  margin-top: 15px;
  padding: 20px;
}
.blog-info-title {
  font-size: 1, 2em;
  font-family: pt-eb;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-user-info {
  color: var(--main_01);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.page-box {
  padding-top: 60px;
}

/*blogWrite*/

.blog-frm-content {
  margin-bottom: 10px;
}
.blog-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  line-height: 42px;
}
.blog-frm-title {
  font-size: 120%;
  font-family: pt-eb;
  color: var(--main_01);
}

#blog-frm-title {
  width: 90%;
  text-indent: 10px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}
.blog-frm-content > .input {
  border: 1px solid #1e1e1e;
}
.blog-input-box {
  border: 1px solid #1e1e1e;
}
.blog-frm-title input {
  border: 1px solid #1e1e1e;
}
.blog-frm-content .ql-editor {
  height: 400px;
}
.blog-frm-btn {
  text-align: right;
}
.blog-frm-btn .blogBtn {
  width: 10%;
  height: 50px;
  font-size: 120%;
  font-family: pt-eb;
}

.blog-date-wrap {
  margin-bottom: 20px;
}
.blog-content-box {
  margin-bottom: 20px;
}

.blog-content-box label {
  font-family: pt-b;
}

.content-warning {
  text-align: right;
  color: #fc0000;
  font-family: pt-l;
  font-size: 90%;
}
.blog-date-day {
  text-align: center;
  color: var(--main_02);
  margin-bottom: 5px;
}
#blog-date-day {
  text-indent: 10px;
  border: 1px solid var(--gray_04);
  margin-bottom: 5px;
  border-radius: 5px;
}
.blog-content-box .ql-editor {
  height: 300px;
}

.day-add-box {
  border-top: solid 3px var(--gray_04);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.day-add-box > div:nth-child(1) {
  color: var(--main_01);
  font-family: pt-b;
}
.day-add-btn {
  float: left;
}
.day-add-btn-box {
  line-height: 31px;
}
.day-add-btn-box span {
  line-height: 31px;
}

.day-add-btn-info {
  text-align: right;
  color: #fc0000;
  font-size: 90%;
  font-family: pt-l;
}

.day-add-btn-info span {
  font-size: 95%;
}
.date-add-btn {
  text-align: center;
}

/* BlogView*/

.blog-view-wrap {
  width: 800px;
  margin: 0 auto;
}
.blog-view-wrap h2 {
  margin: 0;
}
.blog-view-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--gray_04);
  font-family: pt-eb;
}
.blog-view-top {
  overflow: hidden;
  line-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}
.blog-view-top img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  float: left;
  border: 5px solid #c1c1c1;
}

.blog-view-title {
  font-family: pt-eb;
  font-size: 150%;
  color: var(--main_01);
}
.day-list {
  border-top: 1px solid #c1c1c1;
  padding: 30px;
}

.date-day {
  color: var(--main_02);
  font-family: pt-eb;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: left;
}
.btn-box {
  text-align: right;
  margin-bottom: 10px;
}
.btn-box button:hover {
  background-color: var(--main_02);
  color: #fff;
}
.comment-insert-box {
}
.comment-content-box input {
  width: 85%;
  float: left;
  text-indent: 10px;
}
.comment-content-box h3 {
  text-align: left;
  padding-top: 20px;
  border-top: 1px solid #c1c1c1;
}
.comment-list-box {
  display: flex;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #c1c1c1;
}
.comment-list-box .comment-contents-wrap {
  max-width: calc(100% - 205px);
  flex-grow: 1;
}
.comment-number {
  align-self: center;
  width: 80px;
  text-align: center;
  color: var(--main_01);
  font-family: pt-eb;
  /* border-right: 1px solid #c1c1c1; */
}
.comment-info {
  display: flex;
  gap: 8px;
  font-size: 80%;
}

.comment-content {
  height: 70px;
  padding: 8px 0;
  font-family: pt-eb;
  overflow-y: auto;
}
.comment-nickname {
  color: var(--main_02);
}
.comment-date {
}
.btn-area {
  display: flex;
  align-items: center;
  gap: 5px;
}
