* {
  font-family: pt-r;
}
.inn-wrap {
  overflow: hidden;
}
.sideMenu-wrap {
  width: 350px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.search-day .css-10o2lyd-MuiStack-root > .MuiTextField-root {
  min-width: 0px;
  width: 150px;
  padding: 0;
}
.search-day > .place-title {
  display: block;
  margin-bottom: 10px;
}
.search-wrap {
  box-sizing: border-box;
  padding: 1ch;
  border-bottom: 1px solid #eee;
}
.search-wrap > div {
  padding: 5px;
}
.search-wrap span {
  font-size: 16px;
  font-family: pt-b;
}
.search-wrap > .btn_area {
  margin-top: 20px;
}
.search-wrap > .btn_area > button {
  width: 100%;
}
.filter-wrap {
  margin-top: 30px;
  padding: 1ch;
}
.checkbox-input {
  appearance: checkbox;
}
.inn-type-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-self: flex-start;
  padding: 10px 0px;
}
.inn-type-filter > label {
  display: block;
  padding-left: 30px;
  font-family: pt-r;
}
.price-wrap {
  padding: 1ch;
}
.price-wrap > div {
  box-sizing: border-box;
}
.price-wrap > .css-1v5z18m {
  box-sizing: border-box;
  padding: 10px;
}
