* {
  font-family: pt-r;
}
.inn-wrap {
  overflow: hidden;
  display: flex;
}
.sideMenu-wrap {
  padding: 0 10px;
  width: 360px;
}
.search-day .css-10o2lyd-MuiStack-root > .MuiTextField-root {
  min-width: 0px;
  width: 150px;
  padding: 0;
}
.search-day .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px;
}
.search-day > .place-title {
  display: block;
  margin-bottom: 10px;
}
.search-wrap {
  box-sizing: border-box;
  padding: 1ch;
  border-bottom: 1px solid #eee;
}
.search-wrap > div {
  padding: 5px;
}
.search-wrap span {
  font-size: 16px;
  font-family: pt-b;
}
.search-wrap > .btn_area {
  margin-top: 20px;
}
.search-wrap > .btn_area > button {
  width: 100%;
}
.filter-wrap {
  margin-top: 30px;
  padding: 1ch;
}
.checkbox-input {
  appearance: checkbox;
}
.inn-type-filter {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-self: flex-start;
  padding: 10px 0px;
}
.inn-type-filter > label {
  display: block;
  padding-left: 30px;
  font-family: pt-r;
}
.price-wrap {
  padding: 1ch;
  border-top: 1px solid #eee;
}
.price-wrap > div {
  box-sizing: border-box;
}
.price-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-wrap > .css-1v5z18m {
  box-sizing: border-box;
  padding: 10px;
}
.price-check-zone > span {
  font-size: 12px;
}
.hashTag-wrap {
  margin-top: 20px;
  border-top: 1px solid #eee;
  box-sizing: border-box;
}
.hashTag-wrap > .hashTag-title {
  margin-top: 20px;
}
.hashTag-content > .hashTag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.hashTag-content > .hashTag > ul > li {
  display: inline-block;
  cursor: pointer;
  padding: 3px 2px;
}
.hashTag-content > .hashTag > ul > li > button {
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #1e1e1e;
  font-family: pt-r;
  font-size: 13px;
}
.hashTag-content > .hashTag > ul > li > button.active-hashTag {
  background-color: #005caa;
  color: #fff;
  border-color: #005caa;
  font-family: pt-b;
}
.sideMenu-wrap > .btn_area {
  padding: 1ch;
}
.sideMenu-wrap > .btn_area > button {
  margin: 5px;
}
.sideMenu-wrap .btn_area > button {
  width: 100%;
  box-sizing: border-box;
}
