.reservation-all-wrap {
  width: 1250px;
  margin: 0 auto;
  margin-top: 30px;
}
.reservation-wrap > .reservation-content-all-wrap {
  display: flex;
}
.select-inn-wrap {
  width: 322px;
}
.reservation-content-wrap {
  width: 800px;
}
.reservation-top {
  display: flex;
}
.reservation-top > a > span {
  line-height: 31px;
}
.reservation-top > .toMain {
  font-size: 24px;
}
.reservation-guest-zone {
  margin-top: 50px;
}
.reservation-guest-zone > .reservation-guest-zone-top {
  font-family: pt-b;
  font-size: 20px;
}
.reservation-guest-name {
  margin-top: 50px;
}
.reservation-guest-name > .guest-name {
  font-family: pt-b;
}
.reservation-guest-zone input {
  padding-left: 5px;
  width: 600px;
}
.reservation-guest-zone input::placeholder {
  font-size: 14px;
}
.reservation-guest-phone {
  margin-top: 50px;
}
.reservation-guest-phone > .guest-phone {
  font-family: pt-b;
}
.reservation-guest-wish {
  margin-top: 50px;
}
.reservation-guest-wish > .guest-wish {
  font-family: pt-b;
}
.reservation-promotion-connect {
  margin-top: 50px;
}
.promotion-connect-box {
  background-color: #e9511c;
  border: 1px solid #e9511c;
  padding: 20px;
  color: #ffffffec;
  border-radius: 15px;
  position: relative;
  font-family: pt-r;
  width: 750px;
}
.promotion-connect-box > p {
  font-size: 14px;
}
.promotion-connect {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}
.reservation-payment-zone {
  margin: 50px 0px;
}
.reservation-payment-zone > .payment-title {
  display: block;
  margin-bottom: 20px;
  font-family: pt-b;
}
.payment-box {
  display: flex;
  height: 50px;
}
.payment-box > div {
  width: 120px;
  border: 1px solid #eee;
  border-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.payment-box > div > img {
  width: 100%;
  padding: 4px;
  text-align: center;
  height: 100%;
  object-fit: contain;
}
.payment-box > div > .tosspay {
  padding: 10px;
}
.payment-box > .danal-pay > .danal {
  display: block;
  text-align: center;
  line-height: 50px;
}
.payment-box > div:hover {
  background-color: #f5f5f5ec;
  transition-duration: 0.3s;
}
.reservation-pay-zone {
  margin: 40px 0px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 15px;
}
.reservation-pay-zone > .reservation-pay-title {
  font-family: pt-b;
}
.reservation-pay-price {
  display: flex;
  justify-content: space-between;
}
.reservation-pay-price > .room-price {
  font-family: pt-b;
  color: #8f8f8f;
  padding: 20px 0px;
  font-size: 14px;
}
.reservation-pay-price > .one-day-price {
  font-size: 14px;
  padding: 20px 0px;
}
.reservation-pay-price > .room-price > sub {
  color: #e9511c;
  font-family: pt-b;
  font-size: 11px;
}
.reservation-pay-total {
  display: flex;
  justify-content: space-between;
}
.total-price-toitle {
  font-family: pt-b;
  color: #8f8f8f;
  padding: 20px 0px;
  font-size: 14px;
}
.total-price {
  font-size: 24px;
  padding: 11px 0px;
  color: #e9511c;
  font-family: pt-eb;
}
.reservation-terms-wrap {
  background-color: #f3eeee;
  display: flex;
  border: 1px solid #f3eeee;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}
.reservation-terms-wrap > #terms-all {
  display: block;
  appearance: checkbox;
  margin-right: 5px;
}
.reservation-terms-wrap > label {
  font-size: 15px;
}
.reservation-terms-wrap > .next-terms {
  position: absolute;
  right: 5px;
  line-height: 21px;
  color: #717171;
  cursor: pointer;
  transition-duration: 0.5s;
}

.terms-wrap-zone {
  display: flex;
  padding: 8px;
}
.terms-wrap-box > .terms-wrap-zone > input {
  display: block;
  appearance: checkbox;
  margin-right: 5px;
}
.terms-wrap-zone > label {
  font-size: 13px;
}
.terms-wrap-zone > .next-terms {
  line-height: 21px;
  color: #717171;
  cursor: pointer;
}
.terms-wrap-box {
  margin-top: 15px;
}
.reservation-pay-zone > .btn-area {
  text-align: center;
  margin-top: 30px;
}
.reservation-pay-zone > .btn-area > button {
  width: 100%;
  font-family: pt-b;
  font-size: 16px;
}

.modal_content table {
  padding: 20px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-collapse: collapse;
}
.modal_content > table > thead > th {
  background-color: #ece5e5;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.modal_content > table > tbody > td {
  font-size: 12px;
  padding: 10px;
  margin: 0 auto;
  vertical-align: middle;
}
.modal_content p {
  font-size: 12px;
}
.modal_content > table > tbody > tr {
  border-bottom: 1px solid #eee;
}
.modal_content > table > tbody > tr > th {
  font-size: 14px;
  padding: 15px;
  vertical-align: middle;
  border: 1px solid #eee;
  background-color: #ece5e5;
}
.modal_content > table > tbody > tr > td {
  font-size: 13px;
  padding: 10px;
  vertical-align: middle;
}
.modal_content .ageTerms {
  font-size: 15px;
  font-family: pt-eb;
  padding: 10px 0px;
}
.modal_content .discount-box-wrap > .discount-box {
  display: flex;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}
.modal_content .discount-box-wrap > .discount-box > .discount {
  font-family: pt-b;
  font-size: 18px;
}
.modal_content .discount-box-wrap > .discount-box > .expired-date {
  position: absolute;
  right: 5px;
  bottom: 3px;
  font-size: 13px;
  font-family: pt-b;
}
.modal_content .discount-box-wrap > .discount-box > .expired-date > span {
  font-size: 13px;
  font-family: pt-b;
  color: #e9511c;
}
.modal_content .discount-box-wrap > .discount-box:hover {
  transition-duration: 0.2s;
  background-color: #1795f0;
  color: #fff;
}
.modal_content .discount-box-wrap .choice-coupon:checked + .discount-box {
  background-color: #1795f0;
  color: #fff;
}
