/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

/* 투어 등록창 */
.tour-reg-wrap {
  width: 800px;
  margin: 0 auto;
}
.tour-reg-wrap > .tour-reg-title {
  border-bottom: 1px solid #005caa;
  margin-bottom: 48px;
}
.tour-reg-wrap > .tour-reg-title > h2 {
  text-align: left;
  color: #005caa;
  margin-bottom: 15px;
}

.tour-sale-wrap {
  margin-bottom: 60px;
}

.tour-info-tbl span {
  color: red;
}
.tour-info-tbl input {
  margin: 20px 0px;
  background-color: transparent;
}
.tour-info-tbl label {
  font-family: pt-b;
}

/* 투어 라디오 */
.tour-radio-wrap {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}
.tour-radio-wrap > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-radio-wrap > div > .tour-type > input {
  display: none;
}
.tour-radio-wrap > div > .tour-type > label {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 16px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
}
.tour-radio-wrap > div > .tour-type > label:hover {
  background-color: #005caa;
  color: #fff;
}
.tour-radio-wrap > div > .tour-type > input:checked + label {
  background-color: #005caa;
  color: #fff;
}

/* 투어 섬네일 */
.tour-info-tbl .tour-thumbnail > img {
  max-width: 360px;
  max-height: 360px;
}
.tour-info-tbl .tour-intronail > img {
  max-width: 360px;
  max-height: 360px;
}

/* 투어 등록버튼 */
.tour-reg-wrap .tour-frm-wrap .tour-frm-btn-box {
  text-align: center;
  padding: 48px 0px;
}

/* 투어 상품조회 */
.tour-item {
  display: flex;
  margin-bottom: 30px;
}
.tour-item .tour-item-img {
  flex-grow: 1;
}
.tour-item .tour-item-img img {
  width: 280px;
  height: 210px;
  cursor: pointer;
}
.tour-item .tour-item-info {
  padding-top: 5px;
  padding-left: 60px;
  flex-grow: 9;
  display: flex;
  flex-direction: column;
}
.tour-item .tour-item-info .tour-item-name {
  font-family: pt-b;
  font-size: 24px;
  margin-bottom: 5px;
}

.tour-item .tour-item-info .tour-item-details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.tour-item .tour-item-info .tour-item-period {
  font-family: pt-b;
  color: #666;
  margin-right: 20px;
}
.tour-item .tour-item-info .tour-item-status {
  font-family: pt-b;
  font-size: 14px;
  background-color: #ccc;
  border-radius: 5px;
  width: 60px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tour-item .tour-item-info .tour-item-count {
  margin-bottom: 48px;
}

.tour-item .tour-item-info .tour-item-details .tour-item-status:hover {
  background-color: #999; /* 마우스를 올렸을 때 배경색 변화 */
}

.tour-item .tour-item-info .tour-item-btn-box > button {
  margin-right: 10px;
}
