/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

/* 투어 등록창 */
.tour-reg-wrap {
  width: 800px;
  margin: 0 auto;
}
.tour-reg-wrap > .tour-reg-title {
  border-bottom: 1px solid #005caa;
  margin-bottom: 48px;
}
.tour-reg-wrap > .tour-reg-title > h2 {
  text-align: left;
  color: #005caa;
  margin-bottom: 15px;
}

.tour-sale-wrap {
  margin-bottom: 60px;
}

.tour-info-tbl span {
  color: red;
}
.tour-info-tbl input {
  margin: 20px 0px;
  background-color: transparent;
}
.tour-info-tbl label {
  font-family: pt-b;
}

/* 투어 라디오 */
.tour-radio-wrap {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}
.tour-radio-wrap div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-radio-wrap > div > .tour-type input {
  display: none;
}
.tour-radio-wrap > div > .tour-type label {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 16px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d9d9d9;
}
.tour-radio-wrap > div > .tour-type label:hover {
  background-color: #005caa;
  color: #fff;
}
.tour-radio-wrap > div > .tour-type input:checked + label {
  background-color: #005caa;
  color: #fff;
}

/* 투어 섬네일 */
.tour-info-tbl .tour-thumbnail > img {
  max-width: 360px;
  max-height: 360px;
}
.tour-info-tbl .tour-intronail > img {
  max-width: 360px;
  max-height: 360px;
}

/* 투어 등록버튼 */
.tour-reg-wrap .tour-frm-wrap .tour-frm-btn-box {
  text-align: center;
  padding: 48px 0px;
}

/* 투어 상품조회 */
.tour-item {
  display: flex;
  margin-bottom: 30px;
}
.tour-item .tour-item-img {
  flex-grow: 1;
}
.tour-item .tour-item-img img {
  width: 280px;
  height: 210px;
  cursor: pointer;
}
.tour-item .tour-item-info {
  padding-top: 5px;
  padding-left: 60px;
  flex-grow: 9;
  display: flex;
  flex-direction: column;
}
.tour-item .tour-item-info .tour-item-name {
  font-family: pt-b;
  font-size: 24px;
  margin-bottom: 5px;
}

.tour-item .tour-item-info .tour-item-details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.tour-item .tour-item-info .tour-item-period {
  font-family: pt-b;
  color: #666;
  margin-right: 20px;
}
.tour-item .tour-item-info .tour-item-status > span {
  cursor: pointer;
}
.tour-item .tour-item-info .tour-item-count {
  font-family: pt-b;
  color: #e9511c;
  margin-bottom: 24px;
}

.tour-item-ticket > button {
  margin-bottom: 10px;
}

.tour-item .tour-item-info .tour-item-btn-box > button {
  margin-right: 10px;
}

/* 투어 이용권 관리 */
.tour-ticket-info-tbl {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.tour-ticket-info-tbl tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  margin: 24px 0;
}
.tour-ticket-info-tbl td:first-child {
  min-width: 280px;
  font-family: pt-b;
  flex-grow: 1; /* 첫 번째 td는 왼쪽에 위치하도록 설정 */
}
.tour-ticket-info-tbl td:last-child {
  width: auto;
  flex-grow: 2; /* 두 번째 td는 오른쪽에 위치하도록 설정 */
}
.tour-ticket-info-tbl td input {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  font-size: 18px;
  width: 160px;
}

/* 티켓 등록버튼 */
.tour-reg-wrap .handle-ticket-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* 투어 예약관리 */
.tour-book-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tour-book-table .tour-book-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tour-book-table .tour-book-row .tour-book-col {
  flex: 1;
  padding: 15px 10px;
}
.tour-book-table .tour-book-row .tour-book-col:nth-child(3) {
  cursor: pointer;
}
.tour-book-table .tour-book-row .tour-book-col:nth-child(3):hover {
  text-decoration: underline;
}
