/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

.tour-list-title {
  overflow: hidden;
}
.tour-list-title > h2 {
  float: left;
  cursor: pointer;
}
.tour-list-title > h2:first-child {
  margin-right: 40px;
}

/* 아이콘바 */
.tour-icon-wrap {
  width: 720px;
  margin: 0 auto;
  display: flex; /* flexbox를 사용하여 항목들을 행으로 정렬 */
  flex-wrap: wrap; /* 필요시 다음 줄로 감싸기 허용 */
  justify-content: space-around; /* 항목들을 균등하게 배치 */
  align-items: center; /* 항목들을 세로 중앙에 배치 */
  font-size: 15px;
  margin-bottom: 60px;
}

.tour-icon-wrap img {
  width: 77px; /* 이미지 너비 설정 */
  height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
  margin-bottom: 8px; /* 이미지와 설명 사이의 간격 조절 */
  border-radius: 25px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.tour-icon-wrap img:hover {
  transform: scale(1.2); /* 마우스 오버 시 크기를 1.2배로 확대 */
}

.tour-icon-wrap > div > div {
  text-align: center; /* 설명 텍스트를 중앙 정렬 */
  width: 100%; /* 각 설명을 전체 너비로 설정하여 한 줄로 배치 */
}

/* 슬라이드 */
.tour-swiper {
  margin-bottom: 120px;
}
.tour-swiper img {
  height: 240px;
  width: 100%;
  border-radius: 20px;
}
.tour-swiper .swiper-slide {
  padding: 0 30px;
}

/* 추천 투어상품 */
.tour-list-prod h2 {
  margin-bottom: 24px;
}

.tour-prod-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tour-prod-wrap > .tour-prod {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: calc(25%);
  position: relative;
}

.tour-prod-wrap > .tour-prod > .tour-bookmark {
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에 위치 */
  right: 0; /* 우측에 위치 */
  margin-top: 25px; /* 원하는 여백 설정 */
  margin-right: 25px; /* 원하는 여백 설정 */
  overflow: hidden;
}
.tour-prod-wrap > .tour-prod > .tour-bookmark > img {
  max-width: 30px;
  float: right;
  cursor: pointer;
}

.tour-prod-wrap > .tour-prod > .tour-prod-img > img {
  width: 100%;
  height: 210px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.tour-prod-wrap > .tour-prod > .tour-prod-info {
  padding-left: 10px;
}
.tour-prod-wrap > .tour-prod > .tour-prod-info > .tour-prod-name {
  font-size: 1.2em;
  margin-top: auto; /* tour-item-name을 아래쪽으로 이동시킴 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.tour-prod-wrap > .tour-prod > .tour-prod-info .tour-prod-type {
  margin-top: 5px;
}

.tour-prod-wrap > .tour-prod > .tour-prod-info > .tour-prod-price {
  font-size: 1.3em;
  font-weight: bold;
  color: #e9511c; /* 주황색 */
  margin-top: 5px;
}

/* 리스트 더보기 */
.tour-prod-wrap > .show-tour-more {
  margin-top: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tour-prod-wrap > .show-tour-more > button {
  width: 40%;
  margin: 0 auto;
}

/* 추천순, 가격낮은순 */
.tour-option-wrap {
  overflow: hidden;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.tour-option-wrap > .tour-option-btn {
  font-size: 16px;
  margin-right: 20px;
  float: right;
}

/* 검색 상품 */
.tour-list-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* 부모 요소의 높이를 차지하도록 설정 */
}

.tour-list-empty > .tour-loading-icon {
  display: flex;
  align-items: center;
}

.tour-prod-zone > .tour-prod {
  display: flex;
  margin-bottom: 30px;
}

.tour-prod-zone > .tour-prod img {
  height: 200px;
  width: 300px;
  margin-right: 40px;
  border-radius: 10px;
}

.tour-prod-zone > .tour-prod > .tour-prod-info {
  flex: 1; /* 남은 공간을 모두 차지하기 위해 flex-grow 사용 */
}

.tour-prod-zone > .tour-prod > .tour-prod-info > .tour-prod-name {
  font-size: 24px;
  font-family: pt-b;
  padding-top: 5px;
  margin-bottom: 5px;
}
.tour-prod-zone > .tour-prod > .tour-prod-info > .tour-prod-subname {
  font-size: 19px;
  margin-bottom: 5px;
}
.tour-prod-zone > .tour-prod > .tour-prod-info > .tour-prod-limit {
  color: #666;
}
.tour-prod-zone > .tour-prod > .tour-prod-info > .tour-prod-price {
  font-size: 36px;
  font-family: pt-b;
  text-align: right;
  padding-right: 120px;
}
.tour-prod-zone > .tour-prod > .tour-prod-info > .tour-prod-bookmark {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* 더 보기 버튼 */
.tour-list-more {
  margin-top: 80px;
  text-align: center;
}
.tour-list-more > Button {
  width: 600px;
  font-family: pt-b;
}

/* 상세보기 */
.tour-view-prev {
  display: flex;
  margin-bottom: 20px;
}
.tour-view-prev .material-icons {
  margin-right: 5px;
  cursor: pointer;
}
.tour-view-prev h5 {
  margin-bottom: 0px;
  line-height: 24px;
  cursor: pointer;
}

.tour-view-wrap {
  margin: 0 auto;
  padding: 20px 0px;
  box-sizing: border-box;
}
.tour-view-wrap > .tour-view-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour-view-wrap > .tour-view-top > .tour-view-thumbnail {
  width: 540px;
  height: 303.75px;
}
.tour-view-wrap > .tour-view-top > .tour-view-thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.tour-view-wrap > .tour-view-top > .tour-view-badge-zone {
  width: 650px;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.tour-view-wrap > .tour-view-top > .tour-view-badge-zone > div {
  margin-bottom: 5px;
}
.tour-view-wrap
  > .tour-view-top
  > .tour-view-badge-zone
  > .tour-view-badge
  span {
  font-size: 11px;
  margin-right: 10px;
}
.tour-view-wrap > .tour-view-top > .tour-view-badge-zone > .tour-view-name {
  display: inline-flex;
  align-items: center;
  font-family: pt-b;
  font-size: 28px;
}
.tour-view-wrap
  > .tour-view-top
  > .tour-view-badge-zone
  > .tour-view-name
  > img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-left: 20px;
}

.tour-view-wrap > .tour-view-top > .tour-view-badge-zone > .tour-view-type {
  font-family: pt-b;
  color: #666;
}
.tour-view-wrap > .tour-view-top > .tour-view-badge-zone > .tour-view-price {
  font-family: pt-b;
  font-size: 26px;
}

.tour-view-wrap > .tour-view-top > .tour-view-badge-zone > .tour-view-guide {
  width: 420px;
}
.tour-view-guide > .tour-view-guide-icon {
  margin-top: 14px;
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex; /* 자식 요소들을 수직으로 정렬하기 위해 flex로 설정 */
  align-items: center; /* 수직 가운데 정렬 */
  cursor: pointer;
}
.tour-view-guide > .tour-view-guide-icon:first-child {
  margin-bottom: 10px;
}
.tour-view-guide > .tour-view-guide-icon > span {
  padding: 5px;
  display: flex;
  align-items: center;
}
.tour-view-guide > .tour-view-guide-icon > span > span {
  font-size: 15px;
  margin-left: 10px; /* 간격 조절을 위해 추가 */
}

/* 상세 메뉴네비 */
.tour-view-content-wrap > .tour-view-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tour-view-content-wrap > .tour-view-menu > .tour-view-menu-item {
  flex: 1;
  text-align: center;
  padding: 10px 0px;
  margin: 0 50px;
  border-bottom: 2px solid #999;
  cursor: pointer;
  font-size: 18px;
  font-family: pt-b;
}

.tour-view-content-wrap > .tour-view-content {
  display: flex;
}
.tour-view-content-wrap > .tour-view-content-title > h4 {
  margin-bottom: 0;
  margin-top: 60px;
}

.tour-view-content-wrap > .tour-view-content > .tour-view-calendar {
  margin-top: 20px;
}
.tour-view-calendar > .css-1rv8zyt-MuiStack-root {
  border: 1px solid #999;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 240px;
}

.tour-view-book-wrap > .tour-view-book-title {
  margin-bottom: 20px;
}
.tour-view-book-wrap > .tour-view-book-title > h3 {
  margin-bottom: 12px;
}

.tour-view-book-wrap > .tour-view-book-title > .tour-view-book-date > span {
  padding-left: 20px;
  font-size: 1.1em;
}

.tour-view-book-wrap > .tour-view-book-title > .tour-view-book-ticket {
  padding-left: 20px;
  font-size: 1.05em;
}

.tour-view-book-title > .tour-view-book-ticket > .tour-ticket-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* 각 입장권 타입 사이의 간격 조절 */
}
.tour-view-book-ticket > .tour-ticket-type > .tour-ticket-info {
  flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
  margin-right: 120px;
}
.tour-view-book-ticket > .tour-ticket-type > .tour-quantity-controls {
  display: flex;
  align-items: center;
}
.tour-quantity-controls .material-icons {
  cursor: pointer;
  margin: 0 10px; /* 각 컨트롤 아이콘 사이의 간격 조절 */
}
.tour-quantity-controls .tour-book-quantity {
  width: 40px;
  text-align: center;
}

.tour-view-book-wrap > .tour-book-btn-zone > button {
  width: 400px;
}

/* 상품소개 */
.tour-view-content-wrap > .tour-view-intro-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tour-view-content-wrap > .tour-view-info-wrap {
  margin-top: 20px;
  display: flex;
  padding-left: 60px;
}
.tour-view-content-wrap > .tour-view-info-wrap > .tour-info-zone {
  width: 450px;
  box-sizing: border-box;
  margin-right: 20px;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 7px 20px;
  cursor: pointer;
}
.tour-view-info-wrap > .tour-info-zone > .tour-info-title {
  color: #666;
  font-size: 0.9em;
}
.tour-view-info-wrap > .tour-info-zone > .tour-info-detail {
  margin-top: 10px;
}
