/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

.tour-list-title {
  overflow: hidden;
}
.tour-list-title > h2 {
  text-align: left;
  font-size: 2.2em;
  float: left;
}
.tour-list-title > h2:first-child {
  margin-right: 40px;
}

/* 아이콘바 */
.tour-icon-wrap {
  width: 720px;
  margin: 0 auto;
  display: flex; /* flexbox를 사용하여 항목들을 행으로 정렬 */
  flex-wrap: wrap; /* 필요시 다음 줄로 감싸기 허용 */
  justify-content: space-around; /* 항목들을 균등하게 배치 */
  align-items: center; /* 항목들을 세로 중앙에 배치 */
  font-size: 15px;
  margin-bottom: 60px;
}

.tour-icon-wrap img {
  width: 77px; /* 이미지 너비 설정 */
  height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
  margin-bottom: 8px; /* 이미지와 설명 사이의 간격 조절 */
  border-radius: 25px;
  transition: transform 0.3s ease;
}
.tour-icon-wrap img:hover {
  transform: scale(1.2); /* 마우스 오버 시 크기를 1.2배로 확대 */
}

.tour-icon-wrap div {
  text-align: center; /* 설명 텍스트를 중앙 정렬 */
  width: 100%; /* 각 설명을 전체 너비로 설정하여 한 줄로 배치 */
}

/* 슬라이드 */
.tour-swiper {
  margin-bottom: 120px;
}
.tour-swiper img {
  height: 240px;
  width: 100%;
  border-radius: 20px;
}
.tour-swiper .swiper-slide {
  padding: 0 30px;
}

/* 추천 투어상품 */
.tour-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tour-item-wrap > .tour-item {
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: calc(25% - 40px);
  margin-bottom: 20px;
}

.tour-item-wrap > .tour-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tour-item-wrap > .tour-item > .tour-item-name {
  font-size: 1.2em;
  margin-top: auto; /* tour-item-name을 아래쪽으로 이동시킴 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.tour-item-wrap > .tour-item > .tour-item-info {
  font-size: 0.9em;
  margin-top: 5px;
}

.tour-item-wrap > .tour-item > .tour-item-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #e9511c; /* 주황색 */
  margin-top: 5px;
}
