/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

.paging-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.paging-wrap > .page-item {
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #005caa;
  color: #005caa;
}
.page-item.active-page {
  background-color: #005caa;
  color: #fff;
}
