.login_input_area{width: 540px; margin: 0 auto; padding: 48px; border: 1px solid #000; border-radius: 24px;}
.join_input_area{width: 540px; margin: 0 auto; padding: 48px; border: 1px solid #000; border-radius: 24px;}
.join-input-wrap{
    padding-bottom: 40px;
}
.contents.login .naver{
    background-image: url(../../../public/images/btnG_축약형.png);
    width: 90px;
    height: 45px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.contents.login .kakao{
    background-image: url(../../../public/images/kakao_login_medium.png);
    width: 90px;
    height: 45px;
    background-repeat: no-repeat;
    object-fit: contain;
}

.contents.consult{
    height: 600px;
    min-width: 400px;
}

.contents.consult .consult-title{
    border-bottom: 2px solid #ccc;
}

#kakao-talk-channel-chat-button{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.contents.consult .consult-content{
    padding-top: 40px;
    font-family: pt-b;
}

.consult-content li{
    list-style-type: square;
}

.contents.license .license-input-wrap{
    margin: 0 auto;
    width: 540px;
    border-radius: 10px;
}

.license-content{
    padding-bottom: 50px;
}

.license-check{
    margin-left: 130px;
}


#agree1, #agree2 {
    appearance: checkbox;
    font-family: pt-b;
}

.auth{
    margin-top: 24px;
    display: flex;
    justify-content:space-between
}

.b_input{
    width: 80%;
}

.b_auth{
    width: 120px;
}