.myBooks_wrap{padding: 24px; border-radius: 30px; background-color: var(--main_03);} 
.myBooks_tab{display: flex; flex-direction: column;}
.myBooks_tab .tab_btns{display: flex;}
.myBooks_tab .tab_btns .tab_btn{flex: 1; display: block; border-radius: 16px 16px 0 0; background-color: #89CFF0; color: #fff; font-family: pt-b; font-size: 16px; line-height: 60px;}
.myBooks_tab .tab_btns .tab_btn.active{background-color: #fff; color: #50B8EA;}
.myBooks_tab .tab_btns .tab_btn.active+.tab_btn+.tab_btn{opacity: 0.8;}
.myBooks_tab .tab_btns .tab_btn:first-child:not(.active){opacity: 0.8;}
.myBooks_tab .tab_contents{min-height: 620px; padding: 24px 20px 40px 20px; background-color: #fff; border-radius: 0 0 16px 16px;}

.myBook_list{display: flex; flex-direction: column; gap: 24px;}
.myBook_list>.bookItem{padding: 24px 24px 36px 24px; border-radius: 12px; border: 1px solid var(--line_03);}
.myBook_list>.bookItem>a{display: block;}
.myBook_list>.bookItem .item_top_wrap{display: flex; justify-content: space-between; padding-bottom: 16px;}
.myBook_list>.bookItem .item_top_wrap .item_name{display: flex; align-items: center; gap: 4px; font-family: pt-b; font-size: 16px; line-height: 1.5;}
.myBook_list>.bookItem .item_top_wrap .badges{margin-top: -4px; margin-right: -4px;}
.myBook_list>.bookItem .item_contents_wrap{display: flex; gap: 24px;}
.myBook_list>.bookItem .item_thumbs{width: 396px; height: 240px; background-color: #f2f2f2;}
.myBook_list>.bookItem .item_thumbs>img{display: block;}
.myBook_list>.bookItem .item_details{display: flex; flex-direction: column; gap: 12px;}
.myBook_list>.bookItem .item_details .row{display: flex; gap: 20px;}
.myBook_list>.bookItem .item_details .row .title{width: 100px; font-family: pt-b; font-size: 16px; line-height: 1.5;}
.myBook_list>.bookItem .item_details .row .cont{font-size: 16px; line-height: 1.5;}
.myBook_list>.bookItem .item_details .row .cont>span{display: block; flex: 1;}
.myBook_list>.bookItem .item_details .row .cont>span+span{margin-top: 12px;}

.myBook_list.promotion{flex-direction: row; flex-wrap: wrap;}
.myBook_list.promotion>.bookItem{width: calc(50% - 12px); padding: 20px 20px 24px 20px;}
.myBook_list.promotion>.bookItem .item_thumbs{width: 200px; height: 140px; background-color: #f2f2f2;}
