.ref_section {padding: 20px; border: 1px solid var(--line_02); border-radius: 12px;}
.ref_section+.ref_section {margin-top: 48px;}
.ref_section .layout_sample div {padding: 12px; background-color: rgba(0, 0, 0, 0.1); color: #000; font-size: 12px;}
.ref_section+h3{margin-top: 48px;}
.ref_section h4~h4{margin-top: 48px;}
.ref_section h5~h5{margin-top: 24px;}