.btn_search{
    display: block; width: 36px; height: 36px; background: url(/public/images/icon_search.svg) no-repeat center / contain;
}

.input_wrap{
    margin: 20px auto;
    margin-bottom: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
}

.input{
    border-bottom: none;
}
