/*
메인 색상
#005caa 파랑  #e9511c 주황  #f4f5ef 베이지  #000000 검정
#30e462 성공  #ff2803 에러  #f9b71b 경고    #1795f0 인포
기타 #89cff0 #f4f5ef #8f705b #035e7b
*/

.contents.promotion .btn_search {
  display: block;
  width: 36px;
  height: 36px;
  background: url(/public/images/icon_search.svg) no-repeat center / contain;
}

.contents.promotion .input_wrap {
  margin: 20px auto;
  margin-bottom: 50px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
}

.contents.promotion .input {
  border-bottom: none;
}

.contents.promotion .promotion_item_wrap {
  min-width: 1000px;
  margin: 0 auto;
  height: 500px;
  padding: 40px;
}

.contents.promotion .promotion_content {
  border: 1px solid black;
  border-radius: 20px;
  height: 100%;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.contents.promotion .promotion_item_wrap {
  position: relative;
}

.contents.promotion .promotion_content:hover {
  box-shadow: 2px 10px 34px 10px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.contents.promotion .promotion_title {
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #e9511c;
}
.contents.promotion .promotion-list-img {
  width: 300px;
  height: 300px;
  padding: 20px;
}

.contents.promotion .promotion-list-img > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.contents.promotion .promotion-list-intro {
  position: absolute;
  left: 400px;
  top: 130px;
}

.contents.promotion .promotion-list-price {
  position: absolute;
  bottom: 60px;
  left: 400px;
}

.contents.promotion .promotionView-wrap {
  margin: 100px auto;
}

.contents.promotion .promotionView-header {
  text-align: center;
  margin-bottom: 200px;
}

.promotionView-header .promotionView-title {
  font-size: 32px;
  font-family: pt-b;
}

.promotionView-header .promotionView-thumbnail {
  display: inline-block;
  width: 900px;
  height: 440px;
}

.promotionView-header .promotionView-thumbnail>img{
  width: 100%;
  height: 100%;
}

.contents.promotion .promotionView-tbl {
  width: 800px;
  margin: 0 auto;
  border-spacing: 0;
}

.promotionView-tbl td:first-child{
  width: 20%;
}

.contents.promotion .promotionView-content {
  background-color: #f4f5ef;
}

.promotionView-tbl tr {
  height: 100px;
  line-height: 100px;
}

.promotionView-tbl .promotionView-intro {
  height: 200px;
  border: 1px solid #f4f5ef;
  background-color: white;
}

.promotionView-tbl th,
td {
  font-family: pt-r;
  font-size: 18px;
}

.contents.promotion .purchase-wrap {
  border: 5px solid #1795f0;
  border-radius: 20px;
  height: 150px;
  padding: 30px;
  font-size: 15px;
  font-family: pt-b;
  position: relative;
}

.contents.promotion .purchase-wrap .promotion-purchase-alert{
  position: absolute;
  top: 20px;
  right: 30px;
}

.contents.promotion .purchase-price {
  margin-bottom: 30px;
}

.contents.promotion #purchase-input {
  border-bottom: 1px solid black;
  font-size: 15px;
  font-family: pt-r;
}

.promotion_input_area {
  width: 540px;
  margin: 0 auto;
  padding: 48px;
  border: 1px solid #000;
  border-radius: 24px;
}
.promotion-input-wrap {
  padding-bottom: 40px;
}

.contents.promotionApply .promotion-thumbnail-input {
  margin-top: 30px;
  margin-bottom: 30px;
}
